body {
    font-family: sans-serif;
}

.header, .footer {
    background-color: #1f2937;
    color: #F9FAF8;
    border: #1f2937;
}

.title {
    font-size: 48px;
    font-weight: 900;
}

.left-links {
    font-size: 24px;
    font-weight: 700;
    margin-right: auto;
}

.title-description {
    font-size: 18px;
    color: #b9babb;
}

ul {
    list-style-type: none;
    display: flex;
    padding: 0px;
    margin: 0px;
    gap: 20px;
}

.navigation {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 40px;
}

.content {
    display: flex;
    padding: 40px;
    justify-content: center;
    align-items: center;
    gap: 42px;
}

.title-card {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.title-description {
    max-width: 600px;
}

button {
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 36px;
    padding-right: 36px;
    text-align: center;
    font-weight: 700;
    font-size: 18px;
    border-radius: 15px;
    border: 0px;
}

.title-signup {
    background-color: #3882F6;
    color: white;
}

img {
    border-radius: 15px;
}